*{
	margin: 0;
	padding: 0;
}



ol{
	color: #000;
	list-style-position: inside;
}

ul{
	color: #000;
	list-style-position: inside;
	list-style-type: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #d6e2e0;
 }

 .dropdown a{
 	padding: 0rem 0.5rem;
 }

.dropdown:hover a{
	background-color: transparent;
}

thead{
	font-weight: bold;
}

.misSubtitulos{
	color: #2b2b2b;
	font-size: 1.5rem;
	font-family: arial, sans-serif;
	text-align: center;
	margin-top: 50px;
}

.insta p{
	color: black;
	font-style: italic;
	font-size:1rem;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 10px;
	border: 3px solid #000;
	margin: 40px 60px;
	background-color: #f2f2ec;
}

span{
	font-weight: bold;
}

a{
	text-decoration: none;
}


table{
	margin: 20px;
	padding: 20px;
	border: 3px solid #000;
	text-align: center;
	width: 60%;
}

.tabla .table td{
	padding: .05rem;
}

.tabla .table th{
	padding: .05rem;
}

.tabla{
	width: 60%;
	text-align: center;
	margin: 0 auto;
	background-color: #f2f2ec;
}

.tabla table{
	margin: auto;
}

.titulo{
	grid-area: titu;
}

.servi{
	background-color: #f2f2ec;
}

.servi img{
	width: 170px;
	margin: 5px;
	height: 140px;
}

.conta{
	background-color: #f2f2ec;
}

@media all and (min-width: 320px){
	.navbar .navbar-brand{
	line-height: 6.1rem;
	font-size: 1rem;
	font-style: normal;
	font-family: times new roman;
	}
	.navbar-brand img{
		width: 80px;
		height: 80px;
	}
	button.navbar-toggler{
		padding: 0.2rem 0.3rem;
	}
	li{
		padding: 5px 90px;
	}
	li a{
		font-size: 18px;
		text-decoration: none;
    	color: black;
	}
	#header {
		background-image: url(../imagenes/portada2800.jpg);
		height: 660px;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.carousel-item{
		height: 390px;
	}
	#footer {
	  display: grid;
	  grid-template-areas: "mapa mapa" "logo contac";
	  grid-template-columns: 3fr 3fr;
	  grid-template-rows: 1fr 1fr;
	  height: 400px;
	  width: 100%;
	  background: linear-gradient(to bottom, #1d1919, #6a6868);
	  align-items: center;
	}
	.mapa {
	  grid-area: mapa;
	  padding: 0px 15px 50px 15px;
	  width: 100%;
	}
	.contacto P {
	  font-family: times new roman;
	  font-size: 13px;
	  color: white;
	  text-align: center;
	}
	.club {
	  grid-area: logo;
	  text-align: center;
	}
	.club :hover {
	  transform: scale(1.1);
	}
	.club img {
	  height: 90px;
	}
	.direccion p {
	  font-family: times new roman;
	  color: white;
	  font-size: 13px;
	  text-align: center;
	}
	.mensaje p {
	  font-family: times new roman;
	  color: transparent;
	  font-size: 13px;
	  text-align: center;
	}

}

@media all and (min-width: 768px){
	.navbar .navbar-brand{
	line-height: 6.1rem;
	font-size: 1.5rem;
	font-style: normal;
	font-family: times new roman;
	}
	.navbar-brand img{
		width: 80px;
		height: 80px;
	}
	button.navbar-toggler{
		padding: 0.2rem 0.3rem;
	}
	li{
		padding: 5px 90px;
	}
	li a{
		font-size: 20px;
		text-decoration: none;
    	color: black;
	}
	#header {
		background-image: url(../imagenes/portada2.jpg);
		height: 667px;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.carousel-item{
		height: 390px;
	}
	#footer {
	  display: grid;
	  grid-template-areas: "mapa mapa" "logo contac";
	  grid-template-columns: 3fr 3fr;
	  grid-template-rows: 1fr 1fr;
	  height: 400px;
	  width: 100%;
	  background: linear-gradient(to bottom, #1d1919, #6a6868);
	  align-items: center;
	}
	.mapa {
	  grid-area: mapa;
	  padding: 0px 15px 50px 15px;
	  width: 100%;
	}
	.contacto P {
	  font-family: times new roman;
	  font-size: 18px;
	  color: white;
	  text-align: center;
	}
	.club {
	  grid-area: logo;
	  text-align: center;
	}
	.club :hover {
	  transform: scale(1.1);
	}
	.club img {
	  height: 90px;
	}
	.direccion p {
	  font-family: times new roman;
	  color: white;
	  font-size: 18px;
	  text-align: center;
	}
	.mensaje p {
	  font-family: times new roman;
	  color: transparent;
	  font-size: 13px;
	  text-align: center;
	}

}

@media all and (min-width: 992px){
	li{
		padding: 45px 40px;
	}
	li a{
		font-size: 20px;
		text-decoration: none;
    	color: black;
	}
	#header {
		background-image: url(../imagenes/portada2.jpg);
		height: 667px;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.carousel-item{
		height: 390px;
	}
	#footer {
	  display: grid;
	  grid-template-areas: "mapa mapa" "logo contac";
	  grid-template-columns: 3fr 3fr;
	  grid-template-rows: 1fr 1fr;
	  height: 400px;
	  width: 100%;
	  background: linear-gradient(to bottom, #1d1919, #6a6868);
	  align-items: center;
	}
	.mapa {
	  grid-area: mapa;
	  padding: 0px 15px 50px 15px;
	  width: 100%;
	}
	.contacto P {
	  font-family: times new roman;
	  font-size: 18px;
	  color: white;
	  text-align: center;
	}
	.club {
	  grid-area: logo;
	  text-align: center;
	}
	.club :hover {
	  transform: scale(1.1);
	}
	.club img {
	  height: 90px;
	}
	.direccion p {
	  font-family: times new roman;
	  color: white;
	  font-size: 18px;
	  text-align: center;
	}
	.mensaje p {
	  font-family: times new roman;
	  color: transparent;
	  font-size: 13px;
	  text-align: center;
	}
}

@media all and (min-width: 1200px){
	.navbar .navbar-brand{
	line-height: 6.1rem;
	font-size: 2rem;
	font-style: normal;
	font-family: times new roman;
	}
	.navbar-brand img{
		width: 120px;
		height: 120px;
	}
	li{
		padding: 45px 40px;
	}
	li a{
		font-size: 22px;
		text-decoration: none;
		color: black;
	}
	#header{
	    background-image: url(../imagenes/portada2.jpg);
		height: 100vh;
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.carousel-item{
		height: 90vh;
	}
	#footer {
	  display: grid;
	  grid-template-areas: "logo direc contac" "mens mapa contac";
	  grid-template-columns: 2fr 2fr 2fr;
	  grid-template-rows: 1fr 1fr;
	  height: 400px;
	  width: 100%;
	  grid-column-gap: 50px;
	  background: linear-gradient(to bottom, #1d1919, #6a6868);
	  align-items: center;
	}
	.club {
	  grid-area: logo;
	  text-align: center;
	}
	.club :hover {
	  transform: scale(1.1);
	}
	.club img {
	  height: 90px;
	}

	.direccion {
	  grid-area: direc;
	  padding: 20px 15px 15px 20px;
	}
	.direccion p {
	  font-family: times new roman;
	  color: white;
	  font-size: 20px;
	  text-align: center;
	}

	.contacto {
	  grid-area: contac;
	  padding: 0px 50px 0px 50px;
	}
	.contacto P {
	  font-family: times new roman;
	  font-size: 20px;
	  color: white;
	  text-align: center;
	}

	.mensaje {
	  grid-area: mens;
	  padding: 15px 15px 115px 15px;
	}
	.mensaje p {
	  font-family: times new roman;
	  color: white;
	  font-size: 20px;
	  text-align: center;
	}

	.mapa {
	  grid-area: mapa;
	  padding: 0px 15px 50px 15px;
	  width: 100%;
	}
}

#servicios .text{
	color: black;
	font-style: italic;
	font-size:1rem;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	line-height: 1.5;
	letter-spacing: 0.1rem;
	padding: 10px;
	border: 3px solid #000;
	margin: 40px 60px;
	background-color: #f2f2ec;
}

#servicios h3{
	color: black;
	font-size:1.5rem;
	font-family: 'Raleway', sans-serif;
}


.container p{
	border-top: 1px solid black;
	margin-top: 100px;
	margin-bottom: 80px;
}

.depo img{
	height: 120px;
}

.col :hover {
	transform: scale(1.1);
}

.row{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.sponsors{
	background-color: black;
	height: 200px;
}

button.btn-primary {
	background-color: black;
	border-color: black;
}

button.btn-primary:not(:disabled):not(.disabled):active{
	background-color: #a3a3a1;
	border-color: black;
}

button.btn-primary:hover{
	background-color: #5b5151;
	border-color: black;
}


h3{
	margin: 20px;
}

 .ima{
 	width: 200px;
 	height: 85px;
 }

 .spon{
 	background-color: black;
 }

 .modal-footer .btn-secondary{
 	background-color: black;
 }